- entry = entry || {}

doctype html
html(lang='en')
  head
    title Edit | UpRoar
    include /global/head.pug
    script(type='text/javascript').
      const entry = !{interpolate(entry)};
  body
    include /global/header
    .container.center
      if entry.id
        h2 Update Volunteer Entry Id: #{entry.id}
      else
        h2 Add Volunteer Hours
      .flex-row
        form(method='post')
          table.table-layout-form.table-style-default
            tr
              td
                label Name
              td
                input(type='text' name='name' value=username disabled) 
            tr
              td
                label Organization
              td
                input(list="organizations" name="organization" value=entry.organization)
                datalist(id="organizations")
                  for organization of organizations
                    option(value=organization.name)
            tr
              td
                label Position/Role
              td
                input(type='text' name='role' value=entry.role)
            tr
              td
                label Date of Volunteer
              td
                input(type='date' name='date' value=entry.date)
            tr
              td
                label Amount of Hours
              td
                input(type='number' name='hours' value=entry.number_of_hours)
            tr
              td
                label Description
              td
                textarea(name="description")= entry.description 
          .flex-row
            a.btn.btn-cancel(href='/user/dashboard') Back
            button.btn(type='submit') Submit
          