doctype html
html(lang='en')
  head
    title  User Profile | UpRoar
    include /global/head.pug
    include /global/datatables.pug
    include /util/tables.pug
  body
    include /global/header
    .container.center
      h2 User Profile
      .flex-row
        form(method='#')
          table.table-layout-form.table-style-default
            tr
              td
                label Username
              td
                input(name='username' type='text' value=user.username disabled)
            tr
              td
                label First Name  
              td
                input(name='first_name' value=user.first_name type='text')
            tr
              td
                label Last Name 
              td
                input(name='last_name' value=user.last_name type='text')
            tr
              td
                label Email
              td
                input(name='email' value=user.email type='text')
            tr
              td
                label Birthday
              td
                input(name='birthday' value=user.birthday type='date')
          button.btn.btn-orange(type='submit') Update